{% load static %}
<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'home/assets/css/main.css' %}" />

</head>
<style>
    ::placeholder{
    color: white;
    font-size: 1em;
    }
</style>


<body style="background-color:#424949">


            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header" >
                  <a class="navbar-brand" href="{% url 'home:details' %}" style="font-size: 150%; color:white; text-decoration: none;">Codigo Maestro</a>
                    <a class="navbar-brand" href="#" style="font-size: 110%; color:white; text-decoration: none">by coders_sacred</a>
                </div>
                      <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://www.codechef.com/users/{{username}}" target="_blank" style="font-size: 110%; color:white; text-decoration: none">Hello! {{usernameR}}</a></li>
                    <li ><a href="{% url 'home:details' %}" style="font-size: 110%; color:white; text-decoration: none">Home</a></li>
                  <li><a href="{% url 'home:logout' %}" style="font-size: 110%; color:white; text-decoration: none"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                </ul>
              </div>
              </div>
            </nav>


<center><h3 style="margin-top: 1%"><font color="white">Rank List of {{institute}}</font></h3></center>
{% if not userrank %}
<center><h3><font color="white">You did not participate in the contest</font></h3></center>
{% endif %}

    <input class="form-control" id="myInput" type="text" placeholder="Search.." style="width:70%; margin-left:15%; margin-right: 15%; color:white">
  <br>
    <table  align="center" style="width:70%; height: auto; margin-left:15%; margin-right: 15%; background-color: #424242">
        <thead>
  <tr style="background-color:#F2F2F2;">

      <th style="padding:5px"><font color="#424242"><b>RANKING</b></font></th>
      <th style="padding:5px"><font color="#424242"><b>USERNAME</b></font></th>
      <th style="padding:5px"><font color="#424242"><b>SCORE</b></font></th>

      {% for i in codelist %}
      <th style="padding:5px;"><a href="https://www.codechef.com/problems/{{ i }}" target="_blank" style="color: #424242"><font color="#424242"><b>{{ i }}</b></font></a></th>
      {% endfor %}
  </tr>
</thead>
        <tbody id="myTable">
    {% for u,r,score,s in data %}
    <tr>
        {% if u == username %}
        <td bgcolor="#52BE80"><font color="white">{{r}}</font></td>
        <td bgcolor="#52BE80"><a href="https://www.codechef.com/users/{{ u }}" target="_blank"><font color="white">{{ u }}</font></a></t>
        <td bgcolor="#52BE80"><font color="white">{{score}}</font></td>
            {% for k in s %}
                {% if not k %}
        <td bgcolor="#52BE80"><font color="white">-</font></td>
                {% else %}
        <td bgcolor="#52BE80"><font color="white">{{k}}</font></td>
                {% endif %}
            {% endfor %}
        {% else %}
        <td><font color="white">{{r}}</font></td>
        <td><a href="https://www.codechef.com/users/{{ u }}" target="_blank"><font color="white">{{ u }}</font></a></td>
        <td><font color="white">{{score}}</font></td>
            {% for k in s %}
                {% if not k %}
        <td><font color="white">-</font></td>
                {% else %}
        <td><font color="white">{{k}}</font></td>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tr>
    {% endfor %}

</tbody>
</table>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>


